h1{
    color: aqua;
}
li::before {
    content: "🚀"
}
ul li:hover{
    color:blue;
}
ul li:nth-child(3){
    background-color: bisque;
}
p:not(:first-of-type){
    text-decoration: underline;
}
p::first-letter{
    font-size: 200%;
    color: brown;
}

body {
    color: antiquewhite;
    background-image:url(space.jpg) ;
}